[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
mkdocs-material = "*"
mkdocs-glightbox = "*"
cairosvg = "*"
mkdocs-print-site-plugin = "*"
mkdocs-git-authors-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
